* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*
font-family: 'Yellowtail', cursive; */

h2.title {
  font-family: 'Yellowtail', cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 65px;
  color: #7EB693;
}
h2.text{
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  color: #274C5B;
}
p.uno{
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #525C60;
}
@media(max-width: 800px){
  h2.title{
    font-size: 25px;
    line-height: 30px;
  }
  h2.text{
    font-size: 30px;
    line-height: 40px;
  }
}